<md-dialog aria-label="Mango (Fruit)" ng-cloak ng-controller="ForgotPasswordController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Forgot Password</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">
        <md-content class="md-padding">
        <form ng-submit="changePassword()">
            <md-input-container>
              <label>Password</label>
              <input ng-model="user.password" type="password">
            </md-input-container>
            <md-input-container>
              <label>Password Repeat</label>
              <input ng-model="user.passwordRepeat" type="password">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="changePassword()">Change Password</md-button>
        </form>
    </md-content>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>