<md-toolbar ng-controller="HardEnemyArrayController">
    <div class="md-toolbar-tools">
      <h2>Hard Enemy Array</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">
      <md-content class="md-padding">
        <form ng-submit="submit()">
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/><input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/><input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/><input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/><input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/><input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <input type="number" class="enemy"/>
          <br/>
          <md-button class="md-raised md-primary" ng-click="go()">Save</md-button>
        </form>
      </md-content>
    </div>
  </md-dialog-content>
</md-toolbar>